.container {
    width: max-content;
}

.select {
    cursor: pointer;
    font-weight: 600;
    padding: 5px;
    border: 1px solid black;
}

.option {
    cursor: pointer;
    padding: 5px;
    border: 1px solid gray;
}

.option.selected {
    color: white;
    background: blue;
}

.option:hover {
    color: white;
    background: blue;
}