.clock {
    width: 200px;
    height: 200px;
    border: 10px solid #000;
    border-radius: 50%;
    position: relative;
    transform: rotate(-90deg); /* Поворот всего циферблата обратно на 90 градусов против часовой стрелки */
}

.hand {
    position: absolute;
    height: 2px;
    background: #000;
    top: 50%;
    left: 50%;
    transform-origin: 0 50%;
}

.hour {
    width: 30%;
    z-index: 3;
}

.minute {
    width: 35%;
    z-index: 2;
}

.second {
    width: 40%;
    background: red;
    z-index: 1;
}